# ==============================================
# MICROTRUST Policy Rule
# ==============================================

# TEEI data file
type teei_data_file, file_type, data_file_type;
type teei_thh_data_file, file_type, data_file_type;
type teei_control_file, fs_type, sysfs_type;
