# ==============================================
# MICROTRUST Policy Rule
# ==============================================

# Date : 2016/06/01
# Operation: TEEI integration
# Purpose: Microtrust HW-backed Gatekeeper
hal_client_domain(hal_gatekeeper_default, hal_capi)
hal_client_domain(hal_gatekeeper_default, hal_allocator)
